@*@model ProductCategory.Models.ProductDetails*@
@model dynamic
@{
    
}
<h1>Product</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Product Update</th>
        </tr>
    </thead>
   
    <tbody class="mt-5">
        @foreach (var product in Model)
        {
            <tr>
                 <td>@product.ProductId</td>
                 <td>@product.ProductName</td>
                 <td>@product.CategoryId</td>
                 <td>@product.CategoryName</td>
                <td><a href="Home/View/@product.ProductId">Update</a></td>
            </tr>
        }
    </tbody>
</table>